.m--0     { margin : 0;}
.m--1     { margin : $_1;}
.m--2     { margin : $_2;}
.m--3     { margin : $_3;}
.m--4     { margin : $_4;}
.m--xxs   { margin : $_5;}
.m--xs    { margin : $_6;}
.m--sm    { margin : $_7;}
.m--md    { margin : $_8;}
.m--lg    { margin : $_9;}
.m--xl    { margin : $_10;}
.m--xxl   { margin : $_11;}

.m-t--0   { margin-top  : 0;}
.m-t--1   { margin-top  : $_1;}
.m-t--2   { margin-top  : $_2;}
.m-t--3   { margin-top  : $_3;}
.m-t--4   { margin-top  : $_4;}
.m-t--xxs { margin-top  : $_5;}
.m-t--xs  { margin-top  : $_6;}
.m-t--sm  { margin-top  : $_7;}
.m-t--md  { margin-top  : $_8;}
.m-t--lg  { margin-top  : $_9;}
.m-t--xl  { margin-top  : $_10;}
.m-t--xxl { margin-top  : $_11;}

.m-r--0   { margin-right  : 0;}
.m-r--1   { margin-right  : $_1;}
.m-r--2   { margin-right  : $_2;}
.m-r--3   { margin-right  : $_3;}
.m-r--4   { margin-right  : $_4;}
.m-r--xxs { margin-right  : $_5;}
.m-r--xs  { margin-right  : $_6;}
.m-r--sm  { margin-right  : $_7;}
.m-r--md  { margin-right  : $_8;}
.m-r--lg  { margin-right  : $_9;}
.m-r--xl  { margin-right  : $_10;}
.m-r--xxl { margin-right  : $_11;}

.m-b--0   { margin-bottom  : 0;}
.m-b--1   { margin-bottom  : $_1;}
.m-b--2   { margin-bottom  : $_2;}
.m-b--3   { margin-bottom  : $_3;}
.m-b--4   { margin-bottom  : $_4;}
.m-b--xxs { margin-bottom  : $_5;}
.m-b--xs  { margin-bottom  : $_6;}
.m-b--sm  { margin-bottom  : $_7;}
.m-b--md  { margin-bottom  : $_8;}
.m-b--lg  { margin-bottom  : $_9;}
.m-b--xl  { margin-bottom  : $_10;}
.m-b--xxl { margin-bottom  : $_11;}

.m-l--0   { margin-left  : 0;}
.m-l--1   { margin-left  : $_1;}
.m-l--2   { margin-left  : $_2;}
.m-l--3   { margin-left  : $_3;}
.m-l--4   { margin-left  : $_4;}
.m-l--xxs { margin-left  : $_5;}
.m-l--xs  { margin-left  : $_6;}
.m-l--sm  { margin-left  : $_7;}
.m-l--md  { margin-left  : $_8;}
.m-l--lg  { margin-left  : $_9;}
.m-l--xl  { margin-left  : $_10;}
.m-l--xxl { margin-left  : $_11;}

.m-v--0   { @extend .m-t--0;   @extend .m-b--0;}
.m-v--1   { @extend .m-t--1;   @extend .m-b--1;}
.m-v--2   { @extend .m-t--2;   @extend .m-b--2;}
.m-v--3   { @extend .m-t--3;   @extend .m-b--3;}
.m-v--4   { @extend .m-t--4;   @extend .m-b--4;}
.m-v--xxs { @extend .m-t--xxs; @extend .m-b--xxs;}
.m-v--xs  { @extend .m-t--xs;  @extend .m-b--xs;}
.m-v--sm  { @extend .m-t--sm;  @extend .m-b--sm;}
.m-v--md  { @extend .m-t--md;  @extend .m-b--md;}
.m-v--lg  { @extend .m-t--lg;  @extend .m-b--lg;}
.m-v--xl  { @extend .m-t--xl;  @extend .m-b--xl;}
.m-v--xxl { @extend .m-t--xxl; @extend .m-b--xxl;}

.m-h--0   {@extend .m-r--0; @extend .m-l--0;}
.m-h--1   {@extend .m-r--1; @extend .m-l--1;}
.m-h--2   {@extend .m-r--2; @extend .m-l--2;}
.m-h--3   {@extend .m-r--3; @extend .m-l--3;}
.m-h--4   {@extend .m-r--4; @extend .m-l--4;}
.m-h--xxs {@extend .m-r--xxs; @extend .m-l--xxs;}
.m-h--xs  {@extend .m-r--xs; @extend .m-l--xs;}
.m-h--sm  {@extend .m-r--sm; @extend .m-l--sm;}
.m-h--md  {@extend .m-r--md; @extend .m-l--md;}
.m-h--lg  {@extend .m-r--lg; @extend .m-l--lg;}
.m-h--xl  {@extend .m-r--xl; @extend .m-l--xl;}
.m-h--xxl {@extend .m-r--xxl; @extend .m-l--xxl;}

.p--0     { padding : 0;}
.p--1     { padding : $_1;}
.p--2     { padding : $_2;}
.p--3     { padding : $_3;}
.p--4     { padding : $_4;}
.p--xxs   { padding : $_5;}
.p--xs    { padding : $_6;}
.p--sm    { padding : $_7;}
.p--md    { padding : $_8;}
.p--lg    { padding : $_9;}
.p--xl    { padding : $_10;}
.p--xxl   { padding : $_11;}

.p-t--0   { padding-top  : 0;}
.p-t--1   { padding-top  : $_1;}
.p-t--2   { padding-top  : $_2;}
.p-t--3   { padding-top  : $_3;}
.p-t--4   { padding-top  : $_4;}
.p-t--xxs { padding-top  : $_5;}
.p-t--xs  { padding-top  : $_6;}
.p-t--sm  { padding-top  : $_7;}
.p-t--md  { padding-top  : $_8;}
.p-t--lg  { padding-top  : $_9;}
.p-t--xl  { padding-top  : $_10;}
.p-t--xxl { padding-top  : $_11;}

.p-r--0   { padding-right  : 0;}
.p-r--1   { padding-right  : $_1;}
.p-r--2   { padding-right  : $_2;}
.p-r--3   { padding-right  : $_3;}
.p-r--4   { padding-right  : $_4;}
.p-r--xxs { padding-right  : $_5;}
.p-r--xs  { padding-right  : $_6;}
.p-r--sm  { padding-right  : $_7;}
.p-r--md  { padding-right  : $_8;}
.p-r--lg  { padding-right  : $_9;}
.p-r--xl  { padding-right  : $_10;}
.p-r--xxl { padding-right  : $_11;}

.p-b--0   { padding-bottom  : 0;}
.p-b--1   { padding-bottom  : $_1;}
.p-b--2   { padding-bottom  : $_2;}
.p-b--3   { padding-bottom  : $_3;}
.p-b--4   { padding-bottom  : $_4;}
.p-b--xxs { padding-bottom  : $_5;}
.p-b--xs  { padding-bottom  : $_6;}
.p-b--sm  { padding-bottom  : $_7;}
.p-b--md  { padding-bottom  : $_8;}
.p-b--lg  { padding-bottom  : $_9;}
.p-b--xl  { padding-bottom  : $_10;}
.p-b--xxl { padding-bottom  : $_11;}

.p-l--0   { padding-left  : 0;}
.p-l--1   { padding-left  : $_1;}
.p-l--2   { padding-left  : $_2;}
.p-l--3   { padding-left  : $_3;}
.p-l--4   { padding-left  : $_4;}
.p-l--xxs { padding-left  : $_5;}
.p-l--xs  { padding-left  : $_6;}
.p-l--sm  { padding-left  : $_7;}
.p-l--md  { padding-left  : $_8;}
.p-l--lg  { padding-left  : $_9;}
.p-l--xl  { padding-left  : $_10;}
.p-l--xxl { padding-left  : $_11;}

.p-v--0   {@extend .p-t--0; @extend .p-b--0;}
.p-v--1   {@extend .p-t--1; @extend .p-b--1;}
.p-v--2   {@extend .p-t--2; @extend .p-b--2;}
.p-v--3   {@extend .p-t--3; @extend .p-b--3;}
.p-v--4   {@extend .p-t--4; @extend .p-b--4;}
.p-v--xxs {@extend .p-t--xxs; @extend .p-b--xxs;}
.p-v--xs  {@extend .p-t--xs; @extend .p-b--xs;}
.p-v--sp  {@extend .p-t--sp; @extend .p-b--sp;}
.p-v--pd  {@extend .p-t--pd; @extend .p-b--pd;}
.p-v--lg  {@extend .p-t--lg; @extend .p-b--lg;}
.p-v--xl  {@extend .p-t--xl; @extend .p-b--xl;}
.p-v--xxl {@extend .p-t--xxl; @extend .p-b--xxl;}

.p-h--0   {@extend .p-r--0; @extend .p-l--0;}
.p-h--1   {@extend .p-r--1; @extend .p-l--1;}
.p-h--2   {@extend .p-r--2; @extend .p-l--2;}
.p-h--3   {@extend .p-r--3; @extend .p-l--3;}
.p-h--4   {@extend .p-r--4; @extend .p-l--4;}
.p-h--xxs {@extend .p-r--xxs; @extend .p-l--xxs;}
.p-h--xs  {@extend .p-r--xs; @extend .p-l--xs;}
.p-h--sp  {@extend .p-r--sp; @extend .p-l--sp;}
.p-h--pd  {@extend .p-r--pd; @extend .p-l--pd;}
.p-h--lg  {@extend .p-r--lg; @extend .p-l--lg;}
.p-h--xl  {@extend .p-r--xl; @extend .p-l--xl;}
.p-h--xxl {@extend .p-r--xxl; @extend .p-l--xxl;}