.margin--0     { margin : 0;}
.margin--1     { margin : @_1;}
.margin--2     { margin : @_2;}
.margin--3     { margin : @_3;}
.margin--4     { margin : @_4;}
.margin--xxs   { margin : @_5;}
.margin--xs    { margin : @_6;}
.margin--sm    { margin : @_7;}
.margin--md    { margin : @_8;}
.margin--lg    { margin : @_9;}
.margin--xl    { margin : @_10;}
.margin--xxl   { margin : @_11;}

.margin-t--0   { margin-top  : 0;}
.margin-t--1   { margin-top  : @_1;}
.margin-t--2   { margin-top  : @_2;}
.margin-t--3   { margin-top  : @_3;}
.margin-t--4   { margin-top  : @_4;}
.margin-t--xxs { margin-top  : @_5;}
.margin-t--xs  { margin-top  : @_6;}
.margin-t--sm  { margin-top  : @_7;}
.margin-t--md  { margin-top  : @_8;}
.margin-t--lg  { margin-top  : @_9;}
.margin-t--xl  { margin-top  : @_10;}
.margin-t--xxl { margin-top  : @_11;}

.margin-r--0   { margin-right  : 0;}
.margin-r--1   { margin-right  : @_1;}
.margin-r--2   { margin-right  : @_2;}
.margin-r--3   { margin-right  : @_3;}
.margin-r--4   { margin-right  : @_4;}
.margin-r--xxs { margin-right  : @_5;}
.margin-r--xs  { margin-right  : @_6;}
.margin-r--sm  { margin-right  : @_7;}
.margin-r--md  { margin-right  : @_8;}
.margin-r--lg  { margin-right  : @_9;}
.margin-r--xl  { margin-right  : @_10;}
.margin-r--xxl { margin-right  : @_11;}

.margin-b--0   { margin-bottom  : 0;}
.margin-b--1   { margin-bottom  : @_1;}
.margin-b--2   { margin-bottom  : @_2;}
.margin-b--3   { margin-bottom  : @_3;}
.margin-b--4   { margin-bottom  : @_4;}
.margin-b--xxs { margin-bottom  : @_5;}
.margin-b--xs  { margin-bottom  : @_6;}
.margin-b--sm  { margin-bottom  : @_7;}
.margin-b--md  { margin-bottom  : @_8;}
.margin-b--lg  { margin-bottom  : @_9;}
.margin-b--xl  { margin-bottom  : @_10;}
.margin-b--xxl { margin-bottom  : @_11;}

.margin-l--0   { margin-left  : 0;}
.margin-l--1   { margin-left  : @_1;}
.margin-l--2   { margin-left  : @_2;}
.margin-l--3   { margin-left  : @_3;}
.margin-l--4   { margin-left  : @_4;}
.margin-l--xxs { margin-left  : @_5;}
.margin-l--xs  { margin-left  : @_6;}
.margin-l--sm  { margin-left  : @_7;}
.margin-l--md  { margin-left  : @_8;}
.margin-l--lg  { margin-left  : @_9;}
.margin-l--xl  { margin-left  : @_10;}
.margin-l--xxl { margin-left  : @_11;}

.margin-v--0   {  .margin-t--0;    .margin-b--0;}
.margin-v--1   {  .margin-t--1;    .margin-b--1;}
.margin-v--2   {  .margin-t--2;    .margin-b--2;}
.margin-v--3   {  .margin-t--3;    .margin-b--3;}
.margin-v--4   {  .margin-t--4;    .margin-b--4;}
.margin-v--xxs {  .margin-t--xxs;  .margin-b--xxs;}
.margin-v--xs  {  .margin-t--xs;   .margin-b--xs;}
.margin-v--sm  {  .margin-t--sm;   .margin-b--sm;}
.margin-v--md  {  .margin-t--md;   .margin-b--md;}
.margin-v--lg  {  .margin-t--lg;   .margin-b--lg;}
.margin-v--xl  {  .margin-t--xl;   .margin-b--xl;}
.margin-v--xxl {  .margin-t--xxl;  .margin-b--xxl;}

.margin-h--0   { .margin-r--0;  .margin-l--0;}
.margin-h--1   { .margin-r--1;  .margin-l--1;}
.margin-h--2   { .margin-r--2;  .margin-l--2;}
.margin-h--3   { .margin-r--3;  .margin-l--3;}
.margin-h--4   { .margin-r--4;  .margin-l--4;}
.margin-h--xxs { .margin-r--xxs;  .margin-l--xxs;}
.margin-h--xs  { .margin-r--xs;  .margin-l--xs;}
.margin-h--sm  { .margin-r--sm;  .margin-l--sm;}
.margin-h--md  { .margin-r--md;  .margin-l--md;}
.margin-h--lg  { .margin-r--lg;  .margin-l--lg;}
.margin-h--xl  { .margin-r--xl;  .margin-l--xl;}
.margin-h--xxl { .margin-r--xxl;  .margin-l--xxl;}

.p--0     { padding : 0;}
.p--1     { padding : @_1;}
.p--2     { padding : @_2;}
.p--3     { padding : @_3;}
.p--4     { padding : @_4;}
.p--xxs   { padding : @_5;}
.p--xs    { padding : @_6;}
.p--sm    { padding : @_7;}
.p--md    { padding : @_8;}
.p--lg    { padding : @_9;}
.p--xl    { padding : @_10;}
.p--xxl   { padding : @_11;}

.p-t--0   { padding-top  : 0;}
.p-t--1   { padding-top  : @_1;}
.p-t--2   { padding-top  : @_2;}
.p-t--3   { padding-top  : @_3;}
.p-t--4   { padding-top  : @_4;}
.p-t--xxs { padding-top  : @_5;}
.p-t--xs  { padding-top  : @_6;}
.p-t--sm  { padding-top  : @_7;}
.p-t--md  { padding-top  : @_8;}
.p-t--lg  { padding-top  : @_9;}
.p-t--xl  { padding-top  : @_10;}
.p-t--xxl { padding-top  : @_11;}

.p-r--0   { padding-right  : 0;}
.p-r--1   { padding-right  : @_1;}
.p-r--2   { padding-right  : @_2;}
.p-r--3   { padding-right  : @_3;}
.p-r--4   { padding-right  : @_4;}
.p-r--xxs { padding-right  : @_5;}
.p-r--xs  { padding-right  : @_6;}
.p-r--sm  { padding-right  : @_7;}
.p-r--md  { padding-right  : @_8;}
.p-r--lg  { padding-right  : @_9;}
.p-r--xl  { padding-right  : @_10;}
.p-r--xxl { padding-right  : @_11;}

.p-b--0   { padding-bottom  : 0;}
.p-b--1   { padding-bottom  : @_1;}
.p-b--2   { padding-bottom  : @_2;}
.p-b--3   { padding-bottom  : @_3;}
.p-b--4   { padding-bottom  : @_4;}
.p-b--xxs { padding-bottom  : @_5;}
.p-b--xs  { padding-bottom  : @_6;}
.p-b--sm  { padding-bottom  : @_7;}
.p-b--md  { padding-bottom  : @_8;}
.p-b--lg  { padding-bottom  : @_9;}
.p-b--xl  { padding-bottom  : @_10;}
.p-b--xxl { padding-bottom  : @_11;}

.p-l--0   { padding-left  : 0;}
.p-l--1   { padding-left  : @_1;}
.p-l--2   { padding-left  : @_2;}
.p-l--3   { padding-left  : @_3;}
.p-l--4   { padding-left  : @_4;}
.p-l--xxs { padding-left  : @_5;}
.p-l--xs  { padding-left  : @_6;}
.p-l--sm  { padding-left  : @_7;}
.p-l--md  { padding-left  : @_8;}
.p-l--lg  { padding-left  : @_9;}
.p-l--xl  { padding-left  : @_10;}
.p-l--xxl { padding-left  : @_11;}

.p-v--0   { .p-t--0;  .p-b--0;}
.p-v--1   { .p-t--1;  .p-b--1;}
.p-v--2   { .p-t--2;  .p-b--2;}
.p-v--3   { .p-t--3;  .p-b--3;}
.p-v--4   { .p-t--4;  .p-b--4;}
.p-v--xxs { .p-t--xxs;  .p-b--xxs;}
.p-v--xs  { .p-t--xs;  .p-b--xs;}
.p-v--sm  { .p-t--sm;  .p-b--sm;}
.p-v--md  { .p-t--md;  .p-b--md;}
.p-v--lg  { .p-t--lg;  .p-b--lg;}
.p-v--xl  { .p-t--xl;  .p-b--xl;}
.p-v--xxl { .p-t--xxl;  .p-b--xxl;}

.p-h--0   { .p-r--0;  .p-l--0;}
.p-h--1   { .p-r--1;  .p-l--1;}
.p-h--2   { .p-r--2;  .p-l--2;}
.p-h--3   { .p-r--3;  .p-l--3;}
.p-h--4   { .p-r--4;  .p-l--4;}
.p-h--xxs { .p-r--xxs;  .p-l--xxs;}
.p-h--xs  { .p-r--xs;  .p-l--xs;}
.p-h--sm  { .p-r--sm;  .p-l--sm;}
.p-h--md  { .p-r--md;  .p-l--md;}
.p-h--lg  { .p-r--lg;  .p-l--lg;}
.p-h--xl  { .p-r--xl;  .p-l--xl;}
.p-h--xxl { .p-r--xxl;  .p-l--xxl;}